@using System.Drawing
@model IEnumerable<DotNetBay.Model.Auction>

@{
    ViewBag.Title = "Auction List";
}

<h2>Auctions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Auction</th>
        <th>Status</th>
        <th>Start Price</th>
        <th>Current Price</th>
        <th>Bids</th>
        <th>Starts</th>
        <th>Ends</th>
        <th>Seller</th>
        <th>Current Winner</th>
        <th>Closed</th>
        <th>Winner</th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    var color = item.IsRunning ? "#C0EBB5" : "#EBB5B5";
    
    <tr style="background-color: @color">
        <td>
            @Html.DisplayFor(modelItem => item.Title)<br/>
            <p style="text-align: center">
                <img src="/Auctions/Image?auctionId=@item.Id" style="max-height: 120px; max-width: 180px" />
            </p>
        </td>
        <td>
            @if (item.IsRunning)
            {
                @:Running
            }
            else if (item.IsClosed)
            {
                @:Closed
            }
            else
            {
                @:Not started
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CurrentPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bids.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTimeUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTimeUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActiveBid.Bidder.DisplayName)
        </td>
        <td>
            @if (item.IsClosed)
            {
                @Html.DisplayFor(modelItem => item.CloseDateTimeUtc)
            }
        </td>
        <td>
            @if (item.IsClosed)
            {
                @Html.DisplayFor(modelItem => item.Winner.DisplayName)
            }
        </td>
        <td>
            @if (!item.IsClosed)
            {
                @Html.ActionLink("Bieten", "Create", "Bids", new { AuctionId = item.Id }, null)
                @:|
            }

            @Html.ActionLink("Details", "Details", new { id=item.Id })
        </td>
    </tr>
}

</table>
